<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    <!-- Password Crypto Security -->
    <beans:bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    <!-- Password CSRF Security -->
    <beans:bean id="tokenRepository" class="org.springframework.security.web.csrf.CookieCsrfTokenRepository"/>
    <!--  Not Use Security -->
    <http pattern="/resources/**" security="none"/>
    <!-- 스프링시큐리티 표현식 사용 여부 -->
    <http auto-config="true" use-expressions="true" >
    		<intercept-url pattern="/admin/**"/>
    		<http-basic/>
    		<headers>
    			<xss-protection/>
    		</headers>
    		<csrf/>
    </http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"/>
		</authentication-provider>
	</authentication-manager>
	
	
    	<!-- After login, return to the last visited page -->
    <!-- 	
	<beans:bean id="authenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
    	<beans:property name="useReferer" value="true" />
	</beans:bean>
	 -->
    	<!-- After login, stay to the same page -->
    <!-- 	
	<beans:bean id="authenticationSuccessHandlerWithoutReferer" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
    	<beans:property name="useReferer" value="false" />
	</beans:bean>
	 -->
</beans:beans>
