<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 	
 	<typeAliases>
 		<!-- Resource make aliases -->
 		<typeAlias type="com.iof.spring.user.model.VO.UserVO" alias ="user"/>
 		<typeAlias type="com.iof.spring.site.model.VO.SiteVO" alias="site"/>
 		<typeAlias type="com.iof.spring.plot.model.VO.PlotVO" alias="plot"/>
 		<typeAlias type="com.iof.spring.device.model.VO.DeviceVO" alias="device"/>
 		<!-- Join VO -->
 		<typeAlias type="com.iof.spring.user.model.VO.JoinUserVO" alias ="joinUser"/>
 		<typeAlias type="com.iof.spring.site.model.VO.JoinSiteVO" alias="joinSite"/>
 		<typeAlias type="com.iof.spring.plot.model.VO.JoinPlotVO" alias="joinPlot"/>
 		<typeAlias type="com.iof.spring.device.model.VO.JoinDeviceVO" alias="joinDevice"/>
 	</typeAliases>
 
 </configuration>